    </div><!-- /.container -->

    <br />
    <br />
    <br />

    <hr />
    <p class="text-center">&copy; CmsShoppingCart</p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
